// Base colors
$color-white: #fff;
$color-grey: #424242;
$color-grey-light: #7e7e7e;
$color-grey-very-light: #ebebeb;
$color-black: #000;
$color-blue: #003366;
$color-error: #ff3333;
$color-success: #61ba61;

$color-main-bg: #101728;
$color-main-1: #fff;
$color-main-2: #9340ff;
$color-main-2-dark: #632aad;
$color-main-3: #f73c6b;
$color-main-4: #59596e;

// Font sizes
$font-size-xxs: 1.2rem;
$font-size-xs: 1.5rem;
$font-size-s: 2rem;
$font-size-s-m: 2.4rem;
$font-size-m: 3rem;
$font-size-m-l: 3.8rem;
$font-size-l: 4.5rem;
$font-size-xl: 6rem;
$font-size-xxl: 9rem;
$font-size-xxxl: 12rem;

// Font family
$main-font-Roboto: "Roboto", sans-serif;